size = 32px
vp = 12px
br = 3px
.scene
  position: relative
.field
  position: absolute
  top: 0
  left: 0

html,body
  width: 100%
  height: 100%
  margin: 0
  padding: 0

@keyframes walking
  0%
    background-position-x: 0
  25%
    background-position-x: -(size * 1)
  50%
    background-position-x: -(size * 2)
  75%
    background-position-x: -(size * 3)
  100%
    background-position-x: -(size * 0)

.user
  position: absolute
  width: size
  height: size + vp
  transition: left .16s linear, top .16s linear
  border-radius: br * 3
  background: url(../assets/img/user-sm.png)
  background-size: (size * 4)  (size * 4 * 1.4964)
  animation: walking 1s infinite steps(1,end)

.cursor
  position: absolute
  width: size
  height: size + vp
  outline: 2px solid #fff

.scene
  margin-bottom: 1em
.field
  width: 100%
  height: 100%
  background: #191a1c

*[ld=picked] .tile
  position: relative
  margin: -(vp/2) 0 (vp/2) 0

.tile
  position: absolute
  width: size
  height: size
  transition: left .16s linear, top .16s linear

.tile > div
  position: absolute
  top: 0
  left: 0
  width: size
  height: size
  background-size: (size * 4 + vp) (size + vp)
  background-position: 0px 0px
  background-repeat: no-repeat
  border-radius: 3br
.tile .t { top: 0; background-position: -(size * 0) 0 }
.tile .e { top: 0; height: size + vp; background-position: -(size * 1) 0 }
.tile .b { top: vp; background-position: -(size * 2) 0 }
.tile .s { top: size; height: vp; background-position: -(size * 3) 0; }


.tile.void
  .t { background: none }
  .b { background: none }
  .s { background: none }

.tile.bedrock > div, .tile.wall > div, .tile.earth > div
  border-radius: 0

.tile.bedrock
  .t { background-image: url(../assets/svg/m_bedrock.svg) }
  .b { background-image: url(../assets/svg/m_bedrock.svg) }
  .b { background-image: url(../assets/svg/m_bedrock.svg) }

.tile.earth
  .t { background-image: url(../assets/svg/m_earth.svg) }
  .b { background-image: url(../assets/svg/m_earth.svg) }
  .s { background-image: url(../assets/svg/m_earth.svg);}

.tile.wall 
  & > div { background-image: url(../assets/svg/m_wall.svg) }

.tile.stool
  & > div { background-image: url(../assets/svg/m_stool.svg); }

.tile.grass
  & > div { background-image: url(../assets/svg/m_grass.svg); }

.tile.door
  & > div { background-image: url(../assets/svg/m_door.svg); }
  .t { opacity: 0 }
  .e { opacity: 0 }
  .s { opacity: 0 }

.tile.exit
  & > div { background-image: url(../assets/svg/m_exit.svg); }
  .t { opacity: 0 }
  .e { opacity: 0}
  .s { opacity: 0 }

.tile.key
  & > div { background-image: url(../assets/svg/m_key.svg) }

.tile.gravel 
  & > div { background-image: url(../assets/svg/m_gravel.svg) }
  .t { opacity: 0 }
  .s { opacity: 0 }

.tile.sapphire
  & > div { background-image: url(../assets/svg/m_sapphire.svg); }

.tile.stair
  .t { opacity: 0 }
  .e { background-image: url(../assets/svg/m_stair.svg) }
  .s { opacity: 0 }


.tile.button
  .t, .s, .e { opacity: 0 }
  .b { background-image: url(../assets/svg/m_button.svg) }

.tile.button-pressed
  .t, .s, .e { opacity: 0 }
  .b { background-image: url(../assets/svg/m_button-pressed.svg) }

.tile.trapwall
  .t, .s, .e { opacity: 0 }
  .b { background-image: url(../assets/svg/m_trapwall.svg) }

.tile.trapdoor
  & > div { background-image: url(../assets/svg/m_trapdoor.svg) }

.tile.amethyst
  & > div { background-image: url(../assets/svg/m_amethyst.svg); }

.tile.emerald
  & > div { background-image: url(../assets/svg/m_emerald.svg); }

.tile.topaz
  & > div { background-image: url(../assets/svg/m_topaz.svg); }

.tile.spike
  & > div { background-image: url(../assets/svg/m_spike.svg); }
